<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <a href="https://www.bpterp.com/"><img src="{{ url_for('static', filename = 'bpt_logo.png') }}" alt="Blueprint Technologies" width="200" height="100"></a>
         <center><h1>Welcome to Blueprint Technologies</h1></center>
</head>
<body>
<p>Please click on the link for Creating a user</p><a href="/reg">Register</a>
<p>Please click on the link for Logina user</p><a href="/login">Login</a>
</body>
</html>